{{ form_start(player_search_form) }}
    {{ form_widget(player_search_form) }}

    <div class="col-md-5 fv-row fv-plugins-icon-container mt-7 mb-10">
        <button class="btn btn-primary w-66">{{ button_label|default('Search') }}</button>
    </div>
{{ form_end(player_search_form) }}
