{% extends 'home/index.html.twig' %}

{% block title %}Player transactions{% endblock %}

{% block content %}
    <div class="text-center mb-10">
      <h1 class="mb-3">Sell or buy player here</h1>
      <div class="text-muted fw-bold fs-5">Perform the action by clicking on player's name</div>
    </div>

    <form>
      <select class="form-select text-center" name="team" id="team">
        <option value="">-- Select a team --</option>
        {% for team in teams %}
          <option value="{{ team.id }}">{{ team.name }}</option>
        {% endfor %}
      </select>
    </form>

    <div id="ajax-output"></div>

    <script>
      $(document).ready(function() {

        $('#team').on('change', function() {
          var teamId = $(this).val();
          var url = '/player/get-team-players/' + teamId;

          $.ajax({
            url: url,
            method: 'GET',
            success: function(response) {
              $('#ajax-output').html(response);
            }
          });
        });

      });
    </script>

{% endblock %}
  