{% extends 'home/index.html.twig' %}

{% block title %}Team index{% endblock %}

{% block content %}

    <div class="text-center mb-10">
        <h1 class="mb-3">List of Teams</h1>
        <div class="text-muted fw-bold fs-5">*(pagination below the table)</div>
    </div>
    {% for team in teams %}
        {{ include('team/_team_list.html.twig') }}
    {% endfor %}
    
    <div class="navigation">
        {{ knp_pagination_render(teams) }}
    </div>

    <a href="{{ path('team_new') }}">Create new</a>
{% endblock %}
