{% extends 'home/index.html.twig' %}

{% block title %}New Team{% endblock %}

{% block content %}
    
    <div class="text-center mb-10">
        <h1 class="mb-3">Create new team</h1>
        <div class="text-muted fw-bold fs-5">Pick from available players who you want to be in</div>
    </div>
    {{ include('team/_form.html.twig') }}

{% endblock %}
