{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour {{ app.user.name }}!</h1>

    <div>Bienvenue sur votre application de gestion d'étudiants.</div>
    Veuillez suivres les liens ci-dessous, selon ce que vous souhaitez faire : 
    <ul>
        <li>Liste <code><a href="{{ path('student_list') }}">des étudiants</a></code></li>
        <li>Liste <code><a href="{{ path('classe_index') }}">des classes</a></code></li>
        <li>Liste <code><a href="{{ path('subject_index') }}">des matières</a></code></li>
    </ul>
</div>
{% endblock %}
