<form method="post" action="{{ path('subject_delete', {'id': subject.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer cette matière?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subject.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
