<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
		<link href="{{ asset('assets/css/style.bundle.css') }}" rel="stylesheet" type="text/css" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body style="background-image: url('assets/media/misc/bg-3.jpg');" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">
        {% block body %}{% endblock %}
    </body>
</html>
